<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>New user</title>
</head>
<body>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Выйти из системы"/>
</form>
<br/>
<form th:action="@{/admin}" th:method="POST" th:object="${user}">
    <label for="userName">Введите имя пользователя:</label>
    <input id="userName" th:field="*{userName}" type="text"/>
    <div style="color:red" th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}">userName Error</div>
    <br/>
    <label for="yearOfBirth">Введите год рождения: </label>
    <input id="yearOfBirth" th:field="*{yearOfBirth}" type="text"/>
    <div style="color:red" th:errors="*{yearOfBirth}" th:if="${#fields.hasErrors('yearOfBirth')}">Year of birth Error
    </div>
    <br/>
    <label for="email">Введите электронную почту:</label>
    <input id="email" th:field="*{email}" type="text"/>
    <div style="color:red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">email Error</div>
    <br/>
    <label for="password">Введите пароль:</label>
    <input id="password" th:field="*{password}" type="password"/>
    <div style="color:red" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password Error</div>
    <br/>
    <p>
        <label for="roles">Выберите роли пользователя: </label>
        <input id="roles" name="roles" th:each="role : ${allRoles}"
               th:field="*{roles}"
               th:text="${role.getName() + ' '}"
               th:value="${role.getId()}"
               type="checkbox"
        />
    </p>

    <div style="color:red" th:errors="*{roles}" th:if="${#fields.hasErrors('roles')}">Roles Error</div>
    <br/>
    <input type="submit" value="Создать пользователя"/>
</form>
</body>
</html>